{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

<!-- Content block -->
{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col">
      {% if current_user.is_authenticated %}

    <h1>Hello {{current_user.username}}</h1>

  {% else %}
    <h1>Karibu Hapa</h1>
  {% endif %}
    <form>
        <input type="text" name="recipe_query" placeholder="Search for a Recipe" class="form-control">
        <input type="submit"  value="Submit" class="btn btn-default">
    </form>
    </div>
  </div>
  <div class="row">
      {{ macro.displayRecipeList(recipes) }}
    </div>
</div>

{% endblock %}