<!-- Displaying movie list macro  -->
{% macro displayRecipeList(recipe_list) %}

    {% for recipe in recipe_list %}
        <div class="col-xs-12 col-sm-4 col-md-6 col-lg-4 recipe-card">
            <div class="card-body mt-3">
                <img src="{{ recipe.image }}" alt="{{ recipe.label }} image_url" class="img-responsive mt-5">
                <h6>{{recipe.source}}</h6>
                <li class="text-center mb-3" style="list-style-type: none;"></li>
                <a href="/recipe/{{recipe.id}}">{{ recipe.label|truncate(20)}}</a>
                <a class="btn btn-info mb-2" target="_blank" href=" {{ recipe.url }} ">Read More</a>
            </li>
            </div>
            <br>
        </div>
        <br>
    {% endfor %}

{% endmacro %}

<!-- Displaying reviews macro -->
{% macro displayReviews(review_list) %}

    {% for review in review_list %}

    <div class="row">

        <div class="col-xs-2 col-sm-2 col-md-4 col-lg-4">
            <h4>Author</h4>
            <p>{{review.user.username}}</p>
        </div>
        <div class="col-xs-10 col-sm-10 col-md-8 col-lg-8">
            <h2> <a href="{{url_for('main.single_review',id=review.id)}}">{{review.recipe_title}}</a> </h2>
        </div>
    </div>

    {% endfor %}

{% endmacro %}