{% extends 'base.html'%}
{% import 'macros.html' as macro%}


<!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/recipe.css')}}">
{% endblock %}

<!-- Content block -->
{% block content %}
<div class="container">

    <!-- Poster background -->
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 posterPath" style="background: url({{recipe.poster}}) no-repeat center center">
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 recipe-details">
            <h3>{{ recipe.title }}</h3>

            <p class="overview"> {{ recipe.overview }}</p>

            <p class="ratings"> <b> {{ recipe.vote_average }}</b> - <i>{{ recipe.vote_count}} votes </i> </p>
            <a class="ratings" href="/recipe/review/new/{{recipe.id}}"> Write a new review</a>


        </div>


    </div>
    
    <div class="row">

        <h1>Reviews</h1>
        <hr>

        {% if reviews %}
            {{macro.displayReviews(reviews)}}

        {% else%}
            <h3 class="text-center">This recipe has no reviews </h3>

            <a class="btn btn-success btn-lg text-center" href="/recipe/review/new/{{recipe.id}}"> Write a new review</a>
        {% endif %}

    </div>

</div>
{% endblock %}